<h2>Teste {{name}}}</h2>

<main class="home">
	<div class="banner">
	</div>

	<div class="content">

		<div class="white">
			<div class=title>
				<h2>Sobre Nós</h2>
			</div>

			<div class="itens">
				<div class="item">
					<img src="images/home.png">
					<strong>Empresa</strong>
					<small>Somos uma empresa tradicional no ramo de veículos, trabalhamos sempre focados em garantir uma negociação favorável para ambos os lados. <a>Leia mais +</a></small>
				</div>

				<div class="item">
					<img src="images/financiamento.png">
					<strong>Financiamento</strong>
					<small>Financie a compra do seu veículo. O carro dos seus sonhos pode ser seu. A gente te ajuda a realizar o seu sonho.</small>
				</div>

				<div class="item">
					<img src="images/venda.png">
					<strong>Venda seu veículo</strong>
					<small>A maneira mais rápida de vender o seu carro. Velocidade, segurança e preço justo na hora de negociar.</small>
				</div>

				<div class="item">
					<img src="images/contato.png">
					<strong>Contato</strong>
					<small>Precisa falar conosco? Preencha o formulário ou ligue para nós! Estamos esperando por você!</small>
				</div>
			</div>

		</div>

		<div class="info">
			<h2>Seu sonho está aqui!</h2>
			<div class="info-span">
				<span>Venha conferir nosso estoque de veículos, e nos ajuse a realizar o seu sonho de trocar de veículo o mais rápido possível!</span>
			</div>
			<button>Estoque</button>
		</div>

		<div class="white">

			<div class="title">
				<h2>Novidades</h2>
			</div>

			<div class="cards">
				<div class="card">
					<div class="thumb">
						<img class="primeiraImagem" src="images/carros/celtaFrontal.png">
						<img class="segundaImagem" src="images/carros/celtaTraseira.png">
					</div>
					<div class="info-card">
						<h2>CHEVROLET CELTA</h2>
						<small>1.0 MPFI LIFE 8V FLEX 2P MANUAL</small>

						<div class="price">
							<h2>R$ 32,900</h2>
						</div>

						<div class="more-info">
							<small>2010/2011</small>
							<small>97.000KM</small>
						</div>
					</div>
				</div>

				<div class="card">
					<div class="thumb">
						<img class="primeiraImagem" src="images/carros/corollaFrontal.jpg">
						<img class="segundaImagem" src="images/carros/corollaTraseira.jpg">
					</div>
					<div class="info-card">
						<h2>TOYOTA COROLLA</h2>
						<small>2.0 VVT-IE FLEX GLI DIRECT SHIFT</small>

						<div class="price">
							<h2>R$ 126,900</h2>
						</div>

						<div class="more-info">
							<small>2020/2021</small>
							<small>8.000KM</small>
						</div>
					</div>
				</div>

				<div class="card">
					<div class="thumb">
						<img class="primeiraImagem" src="images/carros/golFrontal.png">
						<img class="segundaImagem" src="images/carros/golTraseira.png">
					</div>
					<div class="info-card">
						<h2>VOLKSWAGEN GOL</h2>
						<small>1.0 12V MPI TOTALFLEX TRENDLINE 4P MANUAL</small>

						<div class="price">
							<h2>R$ 44,900</h2>
						</div>

						<div class="more-info">
							<small>2017/2017</small>
							<small>35.000KM</small>
						</div>
					</div>
				</div>

				<div class="card">
					<div class="thumb">
						<img class="primeiraImagem" src="images/carros/celtaFrontal.png">
						<img class="segundaImagem" src="images/carros/celtaTraseira.png">
					</div>
					<div class="info-card">
						<h2>CHEVROLET CELTA</h2>
						<small>1.0 MPFI LIFE 8V FLEX 2P MANUAL</small>

						<div class="price">
							<h2>R$ 32,900</h2>
						</div>

						<div class="more-info">
							<small>2010/2011</small>
							<small>97.000KM</small>
						</div>
					</div>
				</div>

				<div class="card">
					<div class="thumb">
						<img class="primeiraImagem" src="images/carros/corollaFrontal.jpg">
						<img class="segundaImagem" src="images/carros/corollaTraseira.jpg">
					</div>
					<div class="info-card">
						<h2>TOYOTA COROLLA</h2>
						<small>2.0 VVT-IE FLEX GLI DIRECT SHIFT</small>

						<div class="price">
							<h2>R$ 126,900</h2>
						</div>

						<div class="more-info">
							<small>2020/2021</small>
							<small>8.000KM</small>
						</div>
					</div>
				</div>

				<div class="card">
					<div class="thumb">
						<img class="primeiraImagem" src="images/carros/golFrontal.png">
						<img class="segundaImagem" src="images/carros/golTraseira.png">
					</div>
					<div class="info-card">
						<h2>VOLKSWAGEN GOL</h2>
						<small>1.0 12V MPI TOTALFLEX TRENDLINE 4P MANUAL</small>

						<div class="price">
							<h2>R$ 44,900</h2>
						</div>

						<div class="more-info">
							<small>2017/2017</small>
							<small>35.000KM</small>
						</div>
					</div>
				</div>

				<div class="card">
					<div class="thumb">
						<img class="primeiraImagem" src="images/carros/celtaFrontal.png">
						<img class="segundaImagem" src="images/carros/celtaTraseira.png">
					</div>
					<div class="info-card">
						<h2>CHEVROLET CELTA</h2>
						<small>1.0 MPFI LIFE 8V FLEX 2P MANUAL</small>

						<div class="price">
							<h2>R$ 32,900</h2>
						</div>

						<div class="more-info">
							<small>2010/2011</small>
							<small>97.000KM</small>
						</div>
					</div>
				</div>

				<div class="card">
					<div class="thumb">
						<img class="primeiraImagem" src="images/carros/corollaFrontal.jpg">
						<img class="segundaImagem" src="images/carros/corollaTraseira.jpg">
					</div>
					<div class="info-card">
						<h2>TOYOTA COROLLA</h2>
						<small>2.0 VVT-IE FLEX GLI DIRECT SHIFT</small>

						<div class="price">
							<h2>R$ 126,900</h2>
						</div>

						<div class="more-info">
							<small>2020/2021</small>
							<small>8.000KM</small>
						</div>
					</div>
				</div>

				<div class="card">
					<div class="thumb">
						<img class="primeiraImagem" src="images/carros/golFrontal.png">
						<img class="segundaImagem" src="images/carros/golTraseira.png">
					</div>
					<div class="info-card">
						<h2>VOLKSWAGEN GOL</h2>
						<small>1.0 12V MPI TOTALFLEX TRENDLINE 4P MANUAL</small>

						<div class="price">
							<h2>R$ 44,900</h2>
						</div>

						<div class="more-info">
							<small>2017/2017</small>
							<small>35.000KM</small>
						</div>
					</div>
				</div>

				<div class="card">
					<div class="thumb">
						<img class="primeiraImagem" src="images/carros/celtaFrontal.png">
						<img class="segundaImagem" src="images/carros/celtaTraseira.png">
					</div>
					<div class="info-card">
						<h2>Chevrolet Celta</h2>
						<small>1.0 MPFI LIFE 8V FLEX 2P MANUAL</small>

						<div class="price">
							<h2>R$ 32,900</h2>
						</div>

						<div class="more-info">
							<small>2010/2011</small>
							<small>97.000KM</small>
						</div>
					</div>
				</div>

				<div class=title>
					<h2>Marcas Trabalhadas</h2>
				</div>
				<div class="slider marcas">
					<div><a><img src="images/marcas/volks.png"></a></div>
					<div><a><img src="images/marcas/fiat.png"></a></div>
					<div><a><img src="images/marcas/chevrolet.png"></a></div>
					<div><a><img src="images/marcas/renault.png"></a></div>
					<div><a><img src="images/marcas/honda.png"></a></div>
					<div><a><img src="images/marcas/bmw.png"></a></div>
					<div><a><img src="images/marcas/mitsubish.png"></a></div>
					<div><a><img src="images/marcas/ford.png"></a></div>
				</div>
			</div>
		</div>

		<div class="contato">
			<div class="localizacao">
				<i class="fas fa-map-marker-alt"></i>
				<div class="end">
					<span>R. Dezenove de Dezembro, 828</span>
					<span>Irati, PR, 84500-000</span>
				</div>
			</div>

			<div class="telefone">
				<i class="fas fa-phone-volume"></i>
				<div class="fone">
					<span>(42) 3422-3028</span>
				</div>
			</div>

			<div class="facebook">
				<i class="fab fa-facebook-f"></i>
				<div class="end">
					<span>Wande Multimarcas</span>
				</div>
			</div>

			<div class="instagram">
				<i class="fab fa-instagram"></i>
				<div class="end">
					<span>@wandemultimarcas</span>
				</div>
			</div>

		</div>
	</div>
</main>